body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #111;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: black;
  color: white;
}

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px;
  background: #f5f5f7;
}

.hero h2 {
  font-size: 40px;
}

.hero button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* PRODUCTS */
.product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px;
}

.product img {
  width: 300px;
  border-radius: 10px;
}

.dark {
  background: #000;
  color: white;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
}
